<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Личный кабинет{% endblock %}</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>